<form action="#{url_for_home}" method="GET">
<div class="ui basic menu inverted "  style="position: fixed;
top: 0;
z-index: 999;
width: 100%;">
  <a class="header item" 
    href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end"
    style="background-image:url(#{url_for_solr}/admin/file?file=/velocity/img/logo-small.png); padding-left: 50px;background-repeat:no-repeat;" href="#url_for_home#if($request.params.get('debugQuery'))?debugQuery=true#end">
    $display_title
  </a>

  #set( $selected = ! $queryOpts )
  <a class="item #if($selected)active#end" href="#url_for_home/?#debug#annotate">
    <i class="search icon"></i> 
    Simple Search
  </a>
  
  #set( $selected = ($queryOpts == "advance") )
  <a class="item  #if($selected)active#end" href="#url_for_home?&queryOpts=advance#debug#annotate">
    <i class="list layout icon"></i> 
    Advance Search
  </a>


    <a class="item" href="#url_root/#/#core_name/core-overview" target="solr_admin">
        <i class="setting icon"></i>
        Solr Admin
    </a>

  <div class="right menu">
    <div class="item">
      
      <div class="ui icon input mini inverted" >
        
        <input type="text" name="q" placeholder="Search..." style="background-color:white;" />
        <button class="ui icon button small"><i class="search small icon"></i></button>
        
      </div>

    </div>
  </div>
</div>
</form>
